// .hero__box {
    
// }
.hero__box-header {
    width: 488px;
    font-family: "Roboto",serif;
    font-weight: 700;
    font-size: 75px;
    line-height: 91px;
    color: #000000;    
}
.hero__box-text {
    margin-top: 15px;
    width: 570px;   
    font-family: "Roboto",serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #888888;    
}
.hero__box-btn {
    margin-top: 40px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F16214;
    border-radius: 54px;
    padding: 13px 19px;
}
.hero__box-btn__link {
    text-decoration: none;
    font-family: "Roboto",serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;    
}
.hero__box-icon {
    background: #FFFFFF;
    padding: 14px;
    border-radius: 45%;
}
.hero__box-links {
    margin-bottom: 110px;
    margin-top: 40px;
    width: 229px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__box-links__btn {
    padding: 14px;
    border-radius: 50px;
    background: rgba(241, 98, 20, 0.15);
}
.hero__box-btn__link__icon {
    height: 13px;
    width: 15.988943099975586px;
}
.info__box {
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 22px 52px rgba(0, 0, 0, 0.07);
    border-radius: 60px 0px;
}
.info__box-li {
    list-style-type: none;
    padding-right: 102px;
    border-right: 1.5px solid #DDDDDD;
}
.info__box-li:last-child {
    border: none;
}
.info__box-li__icon {
    display: block;
    margin: 0 auto;
    padding: 12px;
    border-radius: 40px;
    background: #F16214;
}
.info__box-li__header {
    margin-top: 16px;
    font-family: "Roboto",serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;    
}
.info__box-li__text {
    margin-top: 6px;
    font-family: "Roboto",serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;     
}
